
@model Prodaja_Softvera_ver3.Web.Areas.ZaposlenikModul.ViewModels.TipSoftveraDodajVM


@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj</h1>

<form asp-action="Snimi">

    <div class="form-group">

        <div>
            @Html.HiddenFor(s => s.TipSoftveraID)
        </div>

        <div class="form-group">
            <label>Naziv</label>
            <input asp-for="Naziv" class="form-control" />
            <span asp-validation-for="Naziv" class="text-danger"></span>

        </div>




        <div class="form-group">
            <label>Verzija</label>
            <input asp-for="Opis" class="form-control" />
            <span asp-validation-for="Opis" class="text-danger"></span>

        </div>


       
    </div>
    <input type="submit" class="btn btn-success btn-lg" value="Snimi" />

</form>

